<!-- <p>login works!</p> -->
<div class="main">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h5 style="color: white;">Sign in to your account</h5><br>
        <div class="border">
            <div class="border1">
                <div class="form-group">
                    <label for="exampleInpu tEmail1">Email address</label>
                    <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
                        aria-describedby="emailHelp" name="email" placeholder="Enter Your Email">
                    <span style="color: red;" *ngIf="email?.invalid && email?.touched">Enter a valid email</span>
                </div><br>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label> &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                    <span><a href="" style="margin: left 60px;">Forget Password ?</a></span>
                    <input type="password" formControlName="pass" class="form-control" id="exampleInputPassword1"
                        name="pass" placeholder="Enter Your Password">
                        <!-- <span><a href="" style="margin: left 60px;">Forget Password</a></span><br> -->
                    <span style="color: red;" id="error" *ngIf="pass?.invalid && pass?.touched" >*atleast 1 capital letter, small letter, special character(@, &,_), number</span>
                </div><br>
                <button type="submit"  class="btn btn-primary" [disabled]="loginForm?.invalid">Sign in</button>
            </div>
        </div>
        <div class="newUser">
            <p>New User? <a href=""> Create an account</a></p>
        </div>
    </form>
</div>
