<!-- Button trigger modal -->

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" >ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Job</th>
      <th scope="col">salary</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of tableDisp">
      <td>{{r.id}}</td>
      <td>{{r.fullName}}</td>
      <td>{{r.age}}</td>
      <td>{{r.designation}}</td>
      <td>{{r.salary}}</td>
      <td><button data-toggle="modal" data-target="#exampleModal" (click)="onEdit(r)">Edit</button>
        <button  (click)="ondelete(r.id)">Delete</button></td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
            <div class="form-group">
              <label for="exampleInputEmail1">Full Name</label>
              <input type="email" class="form-control" id="fullName" formControlName="fullName"
                [ngClass]="{'is-invalid':fullName?.touched && fullName?.errors,'is-valid':fullName?.valid}">
            </div>
            <span style="color: red;"*ngIf="fullName?.touched && employeeForm.controls['fullName'].errors?.['required']">FullName is required</span>
            <span style="color: red;"*ngIf="fullName?.touched && employeeForm.controls['fullName'].errors?.['pattern']">FullName is invalid</span>
            <span style="color: red;"*ngIf="fullName?.touched && employeeForm.controls['fullName'].errors?.['minLength']">FullName is not of required length</span>
  
            
            <div class="form-group">
              <label for="exampleInputPassword1">Designation</label>
              <input type="password" class="form-control" id="designation" formControlName="designation"
              [ngClass]="{'is-invalid':designation?.touched && designation?.errors,'is-valid':designation?.valid}">
            </div>
            <span style="color: red;"*ngIf="designation?.touched && employeeForm.controls['designation'].errors?.['required']">designation is required</span>
            <span style="color: red;"*ngIf="designation?.touched && employeeForm.controls['designation'].errors?.['pattern']">designation is invalid</span>
            <span style="color: red;"*ngIf="designation?.touched && employeeForm.controls['designation'].errors?.['minLength']">designation is of required length</span>
  
            
            <div class="form-group">
              <label for="exampleInputPassword1">Salary</label>
              <input type="password" class="form-control" id="salary" formControlName="salary"
              [ngClass]="{'is-invalid':salary?.touched && salary?.errors,'is-valid':salary?.valid}">
            </div>
            <span style="color: red;"*ngIf="salary?.touched && employeeForm.controls['salary'].errors?.['required']">salary is required</span>
            <span style="color: red;"*ngIf="salary?.touched && employeeForm.controls['salary'].errors?.['pattern']">salary is invalid</span>
            <span style="color: red;"*ngIf="salary?.touched && employeeForm.controls['salary'].errors?.['min']">minimum salary is required</span>
  
            <div class="form-group">
              <label for="exampleInputPassword1">Age</label>
              <input type="password" class="form-control" id="age" formControlName="age"
              [ngClass]="{'is-invalid':age?.touched && age?.errors,'is-valid':age?.valid}">
            </div>
            <span style="color: red;"*ngIf="age?.touched && employeeForm.controls['age'].errors?.['required']">age is required</span>
            <span style="color: red;"*ngIf="age?.touched && employeeForm.controls['age'].errors?.['pattern']">age is invalid</span>
            <span style="color: red;"*ngIf="age?.touched && employeeForm.controls['age'].errors?.['min']">minimum age is required</span>
            <span style="color: red;"*ngIf="age?.touched && employeeForm.controls['age'].errors?.['max']">age entered is maximum than specified</span>
  
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" id="closeButton" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" *ngIf="addBool">Add</button>
              <button type="button" (click)="onUpdate()"class="btn btn-primary"  *ngIf="UpdateBool">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>